<section class="bottom-right-box">
    <div class="saving-throws-box">
        <h4>Saving Throws</h4>
        <p><span>{{this.strMod}}</span> Strength</p>
        <p><span>{{this.dexMod}}</span> Dexterity</p>
        <p><span>{{this.conMod}}</span> Constitution</p>
        <p><span>{{this.intMod}}</span> Intelligence</p>
        <p><span>{{this.wisMod}}</span> Wisdom</p>
        <p><span>{{this.chaMod}}</span> Charisma</p>
    </div>

    <div class="skills-box">
        <h4>Skills</h4>
        <p><span>{{this.dexMod}}</span> Acrobatics (Dex)</p>
        <p><span>{{this.wisMod}}</span> Animal Handling (Wis)</p>
        <p><span>{{this.intMod}}</span> Arcana (Int)</p>
        <p><span>{{this.strMod}}</span> Athletics (Str)</p>
        <p><span>{{this.chaMod}}</span> Deception (Cha)</p>
        <p><span>{{this.intMod}}</span> History (Int)</p>
        <p><span>{{this.wisMod}}</span> Insight (Wis)</p>
        <p><span>{{this.chaMod}}</span> Intimidation (Cha)</p>
        <p><span>{{this.intMod}}</span> Investigation (Int)</p>
        <p><span>{{this.wisMod}}</span> Medicine (Wis)</p>
        <p><span>{{this.intMod}}</span> Nature (Int)</p>
        <p><span>{{this.wisMod}}</span> Perception (Wis)</p>
        <p><span>{{this.chaMod}}</span> Performance (Cha)</p>
        <p><span>{{this.chaMod}}</span> Persuasion (Cha)</p>
        <p><span>{{this.intMod}}</span> Religion (Int)</p>
        <p><span>{{this.dexMod}}</span> Stealth (Dex)</p>
        <p><span>{{this.wisMod}}</span> Survival (Wis)</p>
    </div>

</section>