<section class="bottom-right-box">
    <div class="saving-throws-box">
        <h4>Saving Throws</h4>
        <p><span>{{this.strMod}}</span> Strength</p>
        <p><span>{{this.dexMod}}</span> Dexterity</p>
        <p><span>{{this.conMod}}</span> Constitution</p>
        <p><span>{{this.intMod}}</span> Intelligence</p>
        <p><span>{{this.wisMod}}</span> Wisdom</p>
        <p><span>{{this.chaMod}}</span> Charisma</p>
    </div>

    <div class="skills-box">
        <h4>Skills</h4>
        <p><span>{{this.dexMod}}</span> Acrobatics (dex)</p>
        <p><span>{{this.wisMod}}</span> Animal Handling (wis)</p>
        <p><span>{{this.intMod}}</span> Arcana (int)</p>
        <p><span>{{this.strMod}}</span> Athletics (str)</p>
        <p><span>{{this.chaMod}}</span> Deception (cha)</p>
        <p><span>{{this.intMod}}</span> History (int)</p>
        <p><span>{{this.wisMod}}</span> Insight (wis)</p>
        <p><span>{{this.chaMod}}</span> Intimidation (cha)</p>
        <p><span>{{this.intMod}}</span> Investigation (int)</p>
        <p><span>{{this.wisMod}}</span> Medicine (wis)</p>
        <p><span>{{this.intMod}}</span> Nature (int)</p>
        <p><span>{{this.wisMod}}</span> Perception (wis)</p>
        <p><span>{{this.chaMod}}</span> Performance (cha)</p>
        <p><span>{{this.chaMod}}</span> Persuasion (cha)</p>
        <p><span>{{this.intMod}}</span> Religion (int)</p>
        <p><span>{{this.dexMod}}</span> Stealth (dex)</p>
        <p><span>{{this.wisMod}}</span> Survival (wis)</p>



    </div>

</section>