<div class="signup-view">
    <div class="signup-box">
        <h2>Sign Up</h2>

        <form [formGroup]="createUserForm" (submit)="createUser()" class="signup-form">

            <article class="signup-item">
                <input type="username" name="Username" required formControlName="username" placeholder="username">
                <label>Username</label>
            </article>
            <article class="signup-item">
                <input type="password" name="Password" required formControlName="password" placeholder="password">
                <label>Password</label>
            </article>

            <article class="signup-item">
                <select formControlName="isPlayer" id="isPlayer">
                    <option value="" disabled selected>Select User Type</option>
                    <option value="true">Player</option>
                    <option value="false">Dungeon Master</option>
                </select>
                <p>A <span class="user">Player</span> will be able to create one character, with which they can attack
                    the DM's creatures</p>
                <p>A <span class="user">Dungeon Master (DM)</span> will be able to create multiple creatures, with which
                    they can attack characters</p>
                <label for="isPlayer">User Type</label>
            </article>

            <article class="signup-item">
                <div class="id-gen-btn">
                    <input type="campaignId" name="CampaignId" required formControlName="campaignId"
                        placeholder="campaign id">
                    <button (click)="this.generateRandomKey()">Generate Random Id</button>
                </div>

                <p>The Campaign Id is case sensitive</p>
                <p>This is a key that will connect characters to a DM, please ensure all campaign members use the same
                    ID</p>
                <label>Campaign ID</label>
            </article>

            <button type="submit">Create</button>

        </form>
    </div>


</div>