<div *ngFor="let char of character" class="attack-sheet">


    <section class="top-row">
        <section class="top-left-box">
            <img [src]="char.image" alt="image of {{ char.name }}" />

                <h2>{{char.name}}</h2>
 
        </section>

        <!-- The parent element to be affected by flex -->
        <section class="top-right-box">

            <!-- Contains class, background, race, alignment, and level information -->
            <div class="titles-box">

                <!-- Allows the misc info to be on the left, and the level on the right -->
                <div class="titles-area">

                    <!-- Stack two rows of misc info on top of each other -->
                    <div class="title-row">
                        <p class="title"><span class="title-name">Class</span><span
                                class="title-value">{{char.class}}</span></p>
                        <p class="title"><span class="title-name">Background</span><span
                                class="title-value">{{char.background}}</span></p>
                    </div>
                    <div class="title-row">
                        <p class="title"><span class="title-name">Race</span><span
                                class="title-value">{{char.race}}</span></p>
                        <p class="title"><span class="title-name">Alignment</span><span
                                class="title-value">{{char.alignment}}</span></p>
                    </div>

                </div>

                <div class="level-row">
                    <p class="level-item"><span class="level-name">Level</span><span class="level-value">{{char.level}}</span>
                    </p>
                   
                </div>

            </div>


        </section>
    </section>


    <section class="stats-box">
        <!-- Access the 'convertToMod' array and display the modifier -->
        <p class="stat">Str<span class="mod">{{convertToMod[0][0]}}</span><span class="num">{{char.strength}}</span></p>
        <p class="stat">Dex<span class="mod">{{convertToMod[0][1]}}</span><span class="num">{{char.dexterity}}</span>
        </p>
        <p class="stat">Con<span class="mod">{{convertToMod[0][2]}}</span><span class="num">{{char.constitution}}</span>
        </p>
        <p class="stat">Int<span class="mod">{{convertToMod[0][3]}}</span><span class="num">{{char.intelligence}}</span>
        </p>
        <p class="stat">Wis<span class="mod">{{convertToMod[0][4]}}</span><span class="num">{{char.wisdom}}</span></p>
        <p class="stat">Ch<span class="mod">{{convertToMod[0][5]}}</span><span class="num">{{char.charisma}}</span></p>
    </section>

    <div class="bottom-half" style="display: flex;">

        <section class="bottom-left-box" style="width: 10%;">
            <div class="ac-container">
                <h3 id="ac">AC: {{char.AC}}</h3>
            </div>



            <div class="hp-box">
                <!-- onChange => update HP field via HTTP request -->
                 <label>HP: </label>
                <input type="number" [defaultValue]="char.maxHp" [max]="char.maxHp" min="0">
                <p>Max HP: {{char.maxHp}}</p>
            </div>
        </section>


        <app-weapons-spellcasting style="width: 65%;"></app-weapons-spellcasting>

        <app-saving-skills style="width: 25%;"></app-saving-skills>

    </div>



</div>