<div class="character-sheet">


    <section class="top-row">
        <section class="top-left-box">
            <img [src]="character.image" alt="image of {{ character.name }}" />

            <h2>{{character.name}}</h2>

        </section>

        <!-- The parent element to be affected by flex -->
        <section class="top-right-box">

            <!-- Contains class, background, race, alignment, and level information -->
            <div class="titles-box">

                <!-- Allows the misc info to be on the left, and the level on the right -->
                <div class="titles-area">

                    <!-- Stack two rows of misc info on top of each other -->
                    <div class="title-row">
                        <p class="title"><span class="title-name">Class</span><span
                                class="title-value">{{character.class}}</span></p>
                        <p class="title"><span class="title-name">Background</span><span
                                class="title-value">{{character.background}}</span></p>
                    </div>
                    <div class="title-row">
                        <p class="title"><span class="title-name">Race</span><span
                                class="title-value">{{character.race}}</span></p>
                        <p class="title"><span class="title-name">Alignment</span><span
                                class="title-value">{{character.alignment}}</span></p>
                    </div>

                </div>

                <div class="level-row">
                    <p class="level-item"><span class="level-name">Level</span><span
                            class="level-value">{{character.level}}</span>
                    </p>

                </div>

            </div>


        </section>
    </section>


    <section class="stats-box">
        <!-- Access the 'convertToMod' array and display the modifier -->
        <p class="stat">Str<span class="mod">{{this.strMod}}</span><span class="num">{{character.strength}}</span></p>
        <p class="stat">Dex<span class="mod">{{this.dexMod}}</span><span class="num">{{character.dexterity}}</span>
        </p>
        <p class="stat">Con<span class="mod">{{this.conMod}}</span><span class="num">{{character.constitution}}</span>
        </p>
        <p class="stat">Int<span class="mod">{{this.intMod}}</span><span class="num">{{character.intelligence}}</span>
        </p>
        <p class="stat">Wis<span class="mod">{{this.wisMod}}</span><span class="num">{{character.wisdom}}</span></p>
        <p class="stat">Cha<span class="mod">{{this.chaMod}}</span><span class="num">{{character.charisma}}</span></p>
    </section>

    <!-- control widths of the 3 elements underneath the stats box -->

    <div class="bottom-half" style="display: flex; justify-content: space-evenly;">

        <section class="bottom-left-box" style="width: 10%;">
            <div class="ac-container">
                <h3 id="ac">AC: {{character.AC}}</h3>
            </div>

            <div class="hp-box">
                <p id="max">Max HP: {{character.maxHp}}</p>
                <p id="hp">HP: {{character.hp}}</p>
                <form class="hitdice-form" [formGroup]="hitDiceForm">
                    <label for="name">{{character.hitdice}} hit dice available</label>
                    <div class="use-hitdice">
                        <input id="hitdice-input" type="number" formControlName="numOfDice"
                            placeholder={{character.level}} min="0" max={{character.hitdice}}
                            (keydown)="preventTyping($event)" />
                        <button (click)="useHitDice()">Use</button>
                    </div>

                </form>

            </div>
            <button (click)="longRest()">Long Rest</button>
        </section>

        <app-weapons-spellcasting style="width: 65%;"></app-weapons-spellcasting>

        <app-saving-skills style="width: 25%;"></app-saving-skills>

    </div>

    <div class="creatures-section">
        <p id="title">HOSTILE CREATURES</p>
        <section class="creatures-box">
            <div *ngFor="let creature of creatures" id="{{creature.name}}"
                [class.selected]="creature === selectedCreature" class="creature">

                <div class="creature-attack" *ngIf="creature === selectedCreature">
                    <form class="atk-form" [formGroup]="atkForm">

                        <select formControlName="dmgDice">
                            <option value="" disabled selected>Select Attack</option>
                            <option *ngFor="let atk of attacks" value={{atk.dmgDice}}>{{atk.name}} - {{atk.dmgDice}}
                            </option>
                        </select>
                        <button (click)="attack()">Atk</button>
                    </form>

                </div>

                <div class="creature-main" (click)="handleSelect(creature, creature.name)">
                    <section class="creature-top" *ngIf="!creature.image">
                        <p id="name">{{creature.name}}</p>
                    </section>
                    <section class="creature-info" *ngIf="!creature.image"></section>

                    <section class="creature-top" *ngIf="creature.image"
                        style="background-image: url({{creature.image}});">

                    </section>

                    <section class="creature-info" *ngIf="creature.image">
                        <p id="name">{{creature.name}}</p>
                    </section>
                </div>

            </div>

        </section>

    </div>

</div>