@mixin field-style {
    border: 1px solid #FFD700;
    border-radius: 45px;
    text-align: center;
    height: 30px;
    // controls width of the inputs relative to the form item parent
    width: 100%;
}

.dm-page {


    .creatures-box {
        display: flex;
        border: 1px solid black;
        margin: 10px 0 10px 0;
        padding: 10px;

        #name {
            font-weight: bold;
            margin: 0 20px 0 0;
        }

        .creature-info {
            display: flex;
            flex-wrap: wrap;
            align-items: center;


            p {
                margin: 0 20px 0 0;
            }

            .hp {
                width: 30%;

                input {
                    width: 40%;
                }
            }
        }

        button {
            background-color: transparent;
            height: 30px;
            border: 2px solid #8B0000;
            border-radius: 5px;

            &:hover {
                color:#8B0000;
       
                transform: scale(1.2);
            }
        }
    }

    .characters-box {

        display: flex;
        flex-wrap: wrap;
        border: 1px solid black;

        .characters {

            display: flex;
            flex-direction: column;
            height: 100px;
            margin: 0 80px 80px 0;



            p {
                margin: 0 0 0 20px;
                text-decoration: underline;
                margin-bottom: 5px;
            }

            .row {
                display: flex;
                flex-direction: row;
                align-items: center;


                // width: ;
                border: 2px solid #FFD700;
                border-radius: 5px;
                padding: 10px;

                img {
                    width: 150px;
                    height: 100px;
                }

                .info {
                    display: flex;
                    align-items: center;

                    .stats {
                        display: flex;
                        flex-wrap: wrap;
                        p {
                            text-decoration: none;
                        }
                    }
                }
            }

        }

    }

    .atk-create {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .atk-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            border: 1px solid black;

            .form-item {
                margin: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;

                label {
                    margin-bottom: 5px;
                }

                input {
                    @include field-style();

                }

                select {
                    @include field-style();


                }

                .number-field {
                    width: 30px;
                }

            }

            .dmg-box {
                display: flex;
            }

            #atkMod {

                input {
                    width: 30px;
                }
            }
        }



        .creature-form {
            border: 1px solid black;
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;


            .form-item {

                margin: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;

                label {
                    margin-bottom: 5px;
                }

                input {
                    @include field-style();

                }

                select {
                    @include field-style();


                }

                .number-field {
                    width: 30px;
                }

            }

            .form-stats-box {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;

                .form-item {
                    align-items: center;

                    input {
                        width: 30px;

                    }
                }

            }
        }

        button {
            margin: 10px;
            border: 2px solid #2F4F4F;
            color: #2F4F4F;
            background-color: transparent;
            padding: 10px;

            &:hover {
                border: 2px solid #8B0000;
                color: #8B0000;
                font-weight: bold;
            }
        }

        .form-title {
            font-size: 20px;
            text-decoration: underline;
        }

    }




}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}