/* You can add global styles to this file, and also import other style files */
body {
    width: 100%;
    margin: 0;
    background-color: #FFFFF0;
}

* {
    font-family: "Faculty Glyphic";
}

// For Mobile Devices – 320px — 480px.
// iPads and Tablets – 481px — 768px.
// Laptops and small screen – 769px — 1024px.
// Large screens and Desktops – 1025px — 1200px.@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';